Web_dev/class.xsd

<?xml version = "1.0"?>

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema"> 
 <xs:element name = 'class'>
  <xs:complexType> 
   <xs:sequence>
    <xs:element name = 'course' type = 'courseoccur' minOccurs = '0' maxOccurs = 'unbounded' />
   </xs:sequence> </xs:complexType>
  </xs:element>

<xs:complexType name = "courseoccur"> 
 <xs:sequence>
  <xs:element name = "coursename" type = "xs:string"/> 
  <xs:element name = "facultyname" type = "xs:string"/> 
  <xs:element name = "courseType" type = "xs:string"/> 
  <xs:element name = "credits" type = "xs:positiveInteger"/>
  </xs:sequence>
 <xs:attribute name = 'coursecode' type = 'xs:string'/> </xs:complexType>
</xs:schema>
